<connectionStrings>
  <add name="WikiMediaEntities" connectionString="metadata=res://*/EntityModels.WikiMedia.csdl|res://*/EntityModels.WikiMedia.ssdl|res://*/EntityModels.WikiMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WikiMedia;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>