

<style type="text/css">
    #loading-indicator .modal-dialog{
        width: 100px;
        top: 100px;
    }
</style>


<div class="modal fade" id="loading-indicator" tabindex="-1" role="banner" aria-labelledby="loadingDialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="/images/loading.gif" height="40" width="40" />&nbsp;&nbsp;&nbsp;&nbsp;<span>Bitte warten...</span>
            </div>
        </div>
    </div>
</div>


